<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1> <header style="color:brown"> Lakshadweep </header></h1>
    <p>Lakshadweep, the group of 36 islands is known for its exotic and sun-kissed beaches and lush green landscape. The name Lakshadweep in Malayalam and Sanskrit means 'a hundred thousand islands'. India's smallest Union Territory Lakshadweep is an archipelago consisting of 36 islands with an area of 32 sq km.</p>
    <img src="https://5.imimg.com/data5/SELLER/Default/2021/11/LW/YX/PX/16810/lakshadweep-island-tour-500x500.jpg" height="170px" width="300px">
    <img src="https://cdn.britannica.com/32/1632-050-940FB0E6/Beach-resort-Bangaram-Island-India-Lakshadweep.jpg" height="170px" width="300px">
    <footer><a href="{% url 'Hidden_places_in_india' %}"> Home </a></footer>        
</center>
</body>
</html>