<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1> <header style="color:brown">Ziro Valley(Arunachal Pradesh)</header></h1>
        <p>Ziro is famous for its natural beauty and Hills. Ziro is situated on the Apatani Plateau and is declared a World Heritage Site by the UN as it is the cultural heritage site of the Apatani tribe. Ziro is situated approximately 1,500 meters above the mean sea level.</p>
        
        <img src="https://www.tourmyindia.com/states/arunachalpradesh/images/kile-pakho1.jpg" height="170px" width="300px">
        <img src="https://images.hindustantimes.com/img/2023/01/03/1600x900/pexels-saheb-santanu-4614927_1672745241440_1672745308284_1672745308284.jpg" height="170px" width="300px">

        <footer><a href="{% url 'Hidden_places_in_india' %}"> Home </a></footer>        
</body>
</html>